/* reglas
selectores
declaraciones
propiedadesç
valores */

header {  /*selector de etiqueta (header, body, section, article, nav,...) */
    background-color: rgb(255, 0, 0);

}

/* Selectores descendentes:

body header div nav ul li a {

} */

/* Selectores de clase (.):

.link {

} */

/* Selectores de ID (#): 

#portafolio

*/

/* 
    gris oscuro: #1d252c
    gris claro: #626262
    background gris: #1b2127
*/

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold; /* equivalente: 'normal' */
}

strong{
    color: #026fff;
}

h1{
    font-size: 35px;
    line-height: 1.5em; /* equivalente: 150% */
    letter-spacing: -0.2px;
    text-transform: none;
    text-decoration: none;
    color: white;
    /* margin: 100px 150px 70px 30px; */
    margin: 0;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;
    border-radius: 0.5em; */
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background: white;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .project div {
    justify-content: space-between;
} */

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-info {
    width: 50%;
}

.project strong {
    font-family: 'Roboto Mono', sans-serif;
}

.project-description {
    font-size: 20px;
}

.project-subtitle {
    font-size: 13px;
    margin: 10px 0;
}

.project-url,
.project-date {
    margin: 10px 0;
}

.project-url a{
    text-decoration: none;
    color: #026fff;
}

.project-imageContainer {
    width: 50%;
}

.project-image {
    width: 100%;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url(../hero.jpg); */
    background-color: #1b2127;
    /* background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero h1 {
    margin-left: 10px;
}

.hero-image {
    object-fit: cover;
}

.header {
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ul {
    display: flex;
    height: inherit;
}

.header ul li {
    height: inherit;
}

.menu {
    height: inherit;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.events {
    display: flex;
    flex-wrap: wrap;
}

.events-global-title {
    margin-left: 10px;
}

.event {
/*     border: 1px solid gray; */
    margin: 1%;
    width: 48%;
    border-radius: 1.5em;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #056fff;
    color: #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: ;
}

.contact {
    background-color: #056fff;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.form-email-field {
    border-color: gray;
    padding: 8px 20px 5px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url(../images/envelope.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center ;
    background-position-x: 7px;
    text-align: center;
}

.form-email-send {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    width: 100px;
    /* margin: 10px auto 0; */
}

.email {
    font-size: inherit;
}

.form-email h3 {
    font-family: 'Open Sans', sans-serif;
}

.social-link {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url(../images/twitter.svg);
}

.social-link.facebook {
    background-image: url(../images/facebook.svg);
}

.social-link.github {
    background-image: url(../images/github.svg);
}

.social-link.instagram {
    background-image: url(../images/instagram.svg);
}

.footer {
    background: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Empezar con la resolucion de dispositivo predeter-
   minada para el tipo de proyecto (desktop o mobile) */

@media screen and (max-width:1024px) {

}

@media screen and (max-width: 767.5px) {
    .header {
        display: block;
        height: auto;
    }

    .header ul {
        display: initial;
    }

    .header ul li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-image {
        width: 100%;
    }

    .project-info {
        width: auto;
        font-size: 16px;
    }

    .project-title {
        font-size: 1.4em;
        margin-bottom: .3em;
    }

    .project-subtitle {
        font-size: 1,2em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-description {
        font-size: .9em;
    }

    .project-subtitle, .project-date, .project-url {
        margin: .3em 0;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width:480px) {

    .project-info {
        font-size: 16px;
    }

    .event-detail {
        margin: -2em .6em .6em;
        padding: 1em;
        font-size: .8em;
    }

    .contact {
        height: auto;
        padding: 1em;
        display: block;
        text-align: center;
    }

    .form-email-send {
        margin: 1em auto;
        font-size: inherit;
    }

    .form-email h3 {
        margin-top: 0;
    }

}

@media screen and (max-width:320px) {
    .social {
        display: flex;
    }
}