<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send email</title>
</head>
<body>

    <form action = "http://localhost:5000/emailsender" method = 'POST'>
        <p>Send to (email address): <input  type = "email" name = "sendto" /></p>
        <p>Subject: <input type = "text" name = "subject" /></p>
        <p>Message: <input type = "text" name = "message" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    
</body>
</html>