extend componentes/plantilla.pug
block contenidos
        section.intro
            .intro__imagen: img(src="images/imagen.png")
            .intro__contenido
                h2= titulos[0]
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iusto a maiores, quo praesentium voluptatibus dicta exercitationem dolor unde iste. 
                    span Eius explicabo iure a quos magni minus vitae aperiam dignissimos.
                a.boton Leer más
        main.contenido
            each title in titulos
                if title != titulos[0]
                    +caja('imagen.png', title, 'content')