body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    width: auto;
    height: 100vh;
    grid-template: 64px 1fr / 100px 1fr;
    grid-template-areas: "header header"
                         "side-bar content";
    position: relative;
}

.header {
    background-color: #292929;
    width: 100%;
    display: grid;
    grid-template-columns: 90px 1fr 60px;
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
    grid-area: header;
    position: fixed;
    border-bottom: 3px outset rgba(0, 0, 0, 0.3);
    border-left: 3px outset rgba(0, 0, 0, 0.3);
    border-right: 3px outset rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 30px;
}

.search-bar {
    width: 80%;
    max-width: 400px;
    margin-right: 10px;
}

.search-button {
    width: 20%;
    max-width: 100px;
}

.logo-imageContainer {
    width: 90px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 30px;
}

.logo-img {
    width: inherit;
    object-fit: cover;
}

.user-panel {
    background: rgb(0, 143, 226);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.user-panel img {
    color: white;
    width: 30px;
}

.side-bar {
    grid-area: side-bar;
    width: 100px;
    height: auto;
    background-color: #1b1b1bad;
    position: fixed;
    top: 62px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    border-right: 3px outset rgba(0, 0, 0, 0.3);
    border-left: 3px outset rgba(0, 0, 0, 0.3);
}

.options {
    margin-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.config {
    padding-bottom: 20px;
}

.content {
    grid-area: content;
    background-color: rgba(37, 37, 37, 0.74);
    width: 100%;
    height: auto;
    margin: 0 5px;
    margin-left: 6px;
    position: absolute;
    /* left: 106px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    z-index: 0;
}

.item {
    /* max-width: 300px;
    width: 300px; */
    background-color: rgba(20, 20, 20, .9);
    position: relative;
}

.item-imageContainer {
    display: flex;
    justify-content: center;
    /* object-fit: fill; *//* 
    position: relative; */
}

.item-image {
    object-fit: cover;

    /* position: relative; */
}

.item-title {
    color: rgb(224, 224, 224);
    margin-left: 10px;
}

.item-watch {
    color: rgb(224, 224, 224);
    margin-left: 10px;
}

.item-content{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1228px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 854px) {
    .content {
        /* grid-template-columns: repeat(2, 1fr); */
        display: block;
    }
}

@media screen and (max-width: 710px) {

    .container {
        grid-template: 128px 1fr / 100px 1fr;
        grid-template-areas: "header header"
                         "side-bar content";
    }

    .header {
        grid-area: header;
        grid-template-columns: 90px 1fr 60px;
        grid-template-rows: 64px 64px;
        grid-template-areas: "logo-imageContainer . user-panel"
                             "search-form search-form search-form";
        top: 0;
        
    }
    .logo-imageContainer {
        grid-area: logo-imageContainer;
    }

    .search-form {
        grid-area: search-form;
    }
    .search-button{
        margin-right: 20px;
    }
    .user-panel {
        grid-area: user-panel;
        margin-right: 20px;
    }
    .side-bar {
        top: 128px;
    }
    /* .content {
        display: block;
    } */
    .item {
        max-width: initial;
        width: initial;
    }
    .item-content {
        width: 100%;
    }
    .item-imageContainer {
        margin: 5px 0;
    }
}

@media screen and (max-width: 392px) {
    .search-form{
        display: block;
    }
    .search-button{
        margin-top: 10px;
    }
    .container {
        grid-template: 128px 1fr / 20% 80%;
        grid-template-areas: "header header"
                         "side-bar content";
    }
    .side-bar {
        width: inherit;
    }
}