
.main-section h1:hover {
    transform: scale(1.2);
}

.product:hover {
    transform: scale(1.2);
}

.product-button:hover {
    background-color: var(--green-color-hover);
}

.hero-item:hover {
    transform: scale(1.2);
}

.mention-item:hover {
    transform: scale(1.2);
}

footer p a:hover {
    color: var(--white-color);
    transform: scale(1.1);
}
