-var titulo = "Titulo Principal :)"
-var titulos = ["Titulo principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus earum aut repudiandae enim corrupti, alias nisi."
-var usuario = "David"
-var enlaces = ["Acerca", "Noticias", "Contacto"]
mixin caja(imagen, titulo, contenido)
    .caja
        .caja__imagen: img(src="images/"+imagen)
        .caja__contenido
            h3= titulo
            p= content
mixin cont_principal(title)
    section
        h2= title
        p= content
        a.boton Ver más